[package]
edition.workspace = true
name = "wdk-build"
version = "0.1.0"
description = "A library to configure a Cargo build script for binding generation and downstream linking of the WDK (Windows Driver Kit)"
repository.workspace = true
readme.workspace = true
license.workspace = true
keywords = ["wdk", "windows", "build-dependencies"]
categories = ["development-tools::build-utils", "development-tools::ffi"]

[dependencies]
bindgen.workspace = true
serde.workspace = true
serde_json.workspace = true
clap = { version = "4.4.7", features = ["derive"] }
clap-cargo = "0.13.0"
thiserror = "1.0.55"
windows = { version = "0.51.1", features = [
  "Win32_Foundation",
  "Win32_System_Registry",
] }

[build-dependencies]
rustversion = "1.0.14"

[dev-dependencies]
windows = { version = "0.51.1", features = ["Win32_UI_Shell"] }
