# Avoid using workspace package metadata due to: https://github.com/eupn/macrotest/issues/95 or https://github.com/eupn/macrotest/issues/94
[package]
edition = "2021"
name = "wdk-macros"
version = "0.1.0"
description = "A collection of macros that help make it easier to interact with wdk-sys's direct bindings"
repository = "https://github.com/microsoft/windows-drivers-rs"
readme = "README.md"
license = "MIT OR Apache-2.0"
keywords = ["wdk", "windows", "wdf", "wdm", "ffi"]
categories = [
  "external-ffi-bindings",
  "development-tools::ffi",
  "os::windows-apis",
  "os",
]

[lib]
proc-macro = true

[dependencies]
cfg-if = "1.0.0"
proc-macro2 = "1.0.69"
quote = "1.0.33"
syn = { version = "2.0.32", features = ["full"] }

[dev-dependencies]
# use path dependency instead of workspace due to: https://github.com/eupn/macrotest/issues/95
wdk-sys.path = "../wdk-sys"
lazy_static = "1.4.0"
# Pin to github version due to: https://github.com/eupn/macrotest/issues/94
macrotest = { git = "https://github.com/eupn/macrotest", rev = "c4151a5" }
paste = "1.0.14"
syn = { version = "2.0.32", features = ["extra-traits"] }
trybuild = "1.0.84"
colored = "2.0.4"

[package.metadata.cargo-udeps.ignore]
development = [
  # macrotest and trybuild use dev-dependencies in when compiling their respective tests
  "wdk-sys",
]

[features]
default = []
nightly = []
