name: Cargo Audit

on:
  push:
    branches-ignore:
      - 'gh-readonly-queue/**'
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
  pull_request:
  merge_group:
  schedule: # Trigger a job on default branch at 4AM PST everyday
    - cron: 0 11 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.event.compare || github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  cargo_audit:
    name: Cargo Audit
    runs-on: windows-2025
    permissions:
      issues: write
      checks: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Run Cargo Audit
        uses: rustsec/audit-check@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
