name: Lint

on:
  push:
    branches-ignore:
      - 'gh-readonly-queue/**'
  pull_request:
  merge_group:
  schedule: # Trigger a job on default branch at 4AM PST everyday
    - cron: 0 11 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.event.compare || github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  RUSTFLAGS: >-
    -D warnings

jobs:
  clippy:
    name: Clippy
    permissions:
      checks: write
    strategy:
      fail-fast: false # Allow all matrix variants to complete even if some fail
      matrix:
        runner:
          - name: windows-2025
            arch: amd64
          - name: windows-11-arm
            arch: arm64

        wdk:
          - version: 10.0.22621 # NI WDK
            source: winget
          - version: 10.0.26100 # GE WDK
            source: nuget

        llvm:
          - 17.0.6

        rust_toolchain:
          - stable
          - beta
          - nightly

        cargo_profile:
          - dev
          - release

        target_triple:
          - name: x86_64-pc-windows-msvc
            arch: amd64
          - name: aarch64-pc-windows-msvc
            arch: arm64

    runs-on: ${{ matrix.runner.name }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Winget
        if: matrix.runner.name == 'windows-11-arm'
        uses: ./.github/actions/install-winget
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Winget PowerShell Module
        shell: pwsh
        run: Install-Module -Name Microsoft.WinGet.Client -Repository PSGallery -Force

      - name: Install LLVM ${{ matrix.llvm }}
        uses: ./.github/actions/install-llvm
        with:
          version: ${{ matrix.llvm }}

      - name: Install WDK (${{ matrix.wdk.version }})
        uses: ./.github/actions/install-wdk
        with:
          version: ${{ matrix.wdk.version }}
          source: ${{ matrix.wdk.source }}
          host: ${{ matrix.wdk.source == 'nuget' && matrix.runner.arch || '' }}
          target: ${{ matrix.wdk.source == 'nuget' && matrix.target_triple.arch || '' }}

      - name: Install Rust Toolchain (${{ matrix.rust_toolchain }})
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust_toolchain }}
          components: clippy
          targets: ${{ matrix.target_triple.name }}

      - name: Run Cargo Clippy
        # Due to passing `--target`, `RUSTFLAGS` is not passed to proc-macros or build scripts: https://github.com/rust-lang/cargo/issues/14046
        # To work around this, `-D warnings` is explicitly passed to clippy-driver.
        # Possible future solution: https://github.com/rust-lang/cargo/issues/14802
        run: cargo +${{ matrix.rust_toolchain }} clippy --locked --profile ${{ matrix.cargo_profile }} --target ${{ matrix.target_triple.name }} --all-targets --all-features -- -D warnings

  unused_deps:
    name: Detect Unused Cargo Dependencies
    runs-on: windows-2025

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install Cargo Machete
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-machete

      - name: Run Cargo Machete
        run: cargo machete --skip-target-dir
